* {
  margin: 0px;
  /* overflow: hidden; */
}

.landing_section {
  /* make the backgroudn a slide show if possbile */
  background-image: url(img/pizza-back2.jpg);
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-attachment: none;
  background-size: auto;
  position: relative;
  height: 100vh;
}

#order_form {
  display: none;
  position: absolute;
  margin: 20px;
  background-color: white;
  padding: 50px;
  border-radius: 25px;
}

.btn {
  margin-bottom: 10px;
}

.page-header {
  color: white;
  font-size: 8rem;
  text-align: center;
  padding-top: 100px
}
#header_2{
  padding-top: 5px;
}
.navbar {
  align-items: left;
  font-weight: bold;
  padding: 15px;
  background-color: red;
  text-align: center;
}

.about {
  padding-top: 20px;
  background-color: black;
  height: 20%;
  color: white;
}

.about p {
  cursor: pointer;
}

#pizza_amnt {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30px;
}

#header_2 {
  font-size: 40px
}

.more {
  text-align: center
}

#delivery_form {
  display: none;
  position: absolute;
  background-color: white;
  padding: 30px;
  border-radius: 25px;
  margin-left: 300px
}

#delivery_form input {
  margin-top: 7px;
}#deliver_input{
  display: block
}.locate_del{
  display: none;
}.locate_del input{
  margin-top: 5px;
  margin-bottom: 5px;
}#show_order{
  display: none;
  /* color: white; */
  margin-left: 500px;
  background-color: white;
  border-radius: 25px;
  width: 200px;
  height: auto;
}#show_order h2{
  padding: 20px;
}