body{
  background-image: url(img/pizza-back2.jpg);
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-attachment: none;
  background-size: auto;
  position: relative;
}
form{
  position: absolute;
  margin: 20px;
  background-color: white;
  padding: 20px;
}
.btn{
  margin-bottom: 10px;
}.page-header{
  color: white;
  font-size: 8rem;
  text-align: center;
}.navbar{
  padding: 15px;
  margin-top: 60px;
  background-color: red;
  text-align: center;
}